body { 
	margin: 0; 
}

#main {	
}

#applet-place {	
	width: 800px;
	height: 800px;		
	z-index: 1;
	float: left;
}

#controls-pane {			
	width: 10%;	
	font-family: Verdana, Geneva, sans-serif;	
	margin: 5px;	
	z-index: 10;	
	float: left;
}

#controls-pane input {
	text-align: left;
	margin: 5px;
}
